body {
  height: 100vh;
  width: 100vw;
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: hsla(286, 86%, 9%, 1);
  background: linear-gradient(45deg, hsla(286, 86%, 9%, 1) 0%, hsla(240, 69%, 3%, 1) 100%);
  background: -moz-linear-gradient(45deg, hsla(286, 86%, 9%, 1) 0%, hsla(240, 69%, 3%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(286, 86%, 9%, 1) 0%, hsla(240, 69%, 3%, 1) 100%);
  filter: #{'progid: DXImageTransform.Microsoft.gradient( startColorstr="#200329", endColorstr="#02020B", GradientType=1 )'};
}

//typefaces
.doto {
  font-family: 'Doto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'ROND' 0;
}

h1 {
  font-size: 5rem;
}
